@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  width: 100%;
  max-width: 1920px !important;
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb {
  background: #dd222a;
  border-radius: 100px;
}

#nprogress {
  pointer-events: "none";
}
#nprogress .bar {
  top: 0;
  left: 0;
  height: 2px;
  width: 100%;
  position: fixed;
  background: #dd222a;
  box-shadow: 0 0 2px #dd222a;
}
#nprogress .peg {
  right: 0;
  opacity: 1;
  width: 100px;
  height: 100%;
  display: block;
  position: absolute;
  transform: rotate(3deg) translate(0px, -4px);
  box-shadow: 0 0 10px #dd222a 0 0 5px #dd222a;
}

table tr {
  border-bottom: 1px solid #7a7a7a;
}
td {
  padding: 10px;
}

@media only screen and (max-width: 640px) {
  td {
    font-size: 15px;
  }
}

.loading-icon {
  font-size: 2rem;
  animation: animate 2s infinite;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(720deg);
  }
}
